@font-face {
  font-family: "MoveSans-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 20px;
}
.userContainer {
  margin-left: 30px;
}
