.inventoryContainer {
  position: relative;
  font-family: "NEXON Lv1 Gothic OTF";
}
.inventory {
  width: 400px;
  height: 330px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 20px #dcdcdc;
}
.inventoryTitle {
  position: absolute;
  margin-bottom: 20px;
  top: 20px;
  left: 120px;
  font-size: 35px;
  font-weight: 600;
}

.drinkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3px 5px;
  transition: transform 0.3s ease;
}
.drink {
  width: 40px;
  height: 80px;
  border-radius: 10px;
  background-color: #87cefa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  box-shadow: inset 3px 3px 3px 3px #afddfa;
}

.drinkName {
  color: #fff;
  font-weight: 600;
  font-family: "MoveSans-Bold";
  text-align: center;
  font-style: italic;
  font-size: 15px;
  transform: rotate(90deg);
}

.drinkTop {
  width: 30px;
  height: 6px;
  background-color: #bebebe;
  border-radius: 30px;
  box-shadow: inset 1px 1px 1px 1px #969696;
}
