.machine {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #d2d2d2;
}
.walletTitle {
  font-size: 20px;
  color: white;
  font-weight: 600;
}
.coinEnter {
  font-size: 30px;
  font-weight: 700;
}
.coinContainer {
  display: flex;
}
.coin {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border: 2px solid #ffa500;
  border-radius: 100px;
  background-color: #ffc314;
  color: #d27d32;
  text-align: center;
  font-weight: 600;
  &:hover {
    background-color: #ffb400;
  }
}
